/* styles */

body {
	min-width: 320px;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #222;
	cursor: default;
}

header, section, footer {
	margin: 0 auto;
	max-width: 1920px;
}

.wrapper {
	margin: 0 auto;
	padding: 0 10px;
	width: 960px;
	position: relative;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

img {
	max-width: 100%;
	height: auto;
}

b {
	font-weight: 700;
}

/* button */

.button {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 300px;
	height: 68px;
	border: none;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #df7b0b;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#df7b0b), to(#e6a501));
	background-image: -webkit-linear-gradient(bottom, #df7b0b 0%, #e6a501 100%);
	background-image: -moz-linear-gradient(bottom, #df7b0b 0%, #e6a501 100%);
	background-image: -o-linear-gradient(bottom, #df7b0b 0%, #e6a501 100%);
	background-image: linear-gradient(to top, #df7b0b 0%, #e6a501 100%);
	-webkit-box-shadow: 0 4px 0 #b76302;
	-moz-box-shadow: 0 4px 0 #b76302;
	box-shadow: 0 4px 0 #b76302;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 22px;
	line-height: 68px;
	letter-spacing: 1px;
	color: #fff;
	text-shadow: 0 1px 0 #b76302;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	position: relative;
}

.button:hover {
	background-color: #d7770b;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#d7770b), to(#de9f02));
	background-image: -webkit-linear-gradient(bottom, #d7770b 0%, #de9f02 100%);
	background-image: -moz-linear-gradient(bottom, #d7770b 0%, #de9f02 100%);
	background-image: -o-linear-gradient(bottom, #d7770b 0%, #de9f02 100%);
	background-image: linear-gradient(to top, #d7770b 0%, #de9f02 100%);
}

.button:active {
	-webkit-box-shadow: 0 3px 0 #b76302;
	-moz-box-shadow: 0 3px 0 #b76302;
	box-shadow: 0 3px 0 #b76302;
	top: 1px;
}

/* titles */

h2 {
	margin: 0 0 40px;
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
}

h2 b {
	display: block;
	font-size: 38px;
	line-height: 44px;
}

/* offer */

.offer_section {
	padding: 45px 0 0;
	height: 574px;
	background: #284851 url("desctop__offer_bg.jpg") center top no-repeat;
}

.offer_section .title_block {
	margin: 0 0 0 180px;
	text-transform: uppercase;
}

.offer_section .main_title {
	margin: 0 0 5px;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: #00b6e6;
}

.offer_section .main_title i {
	font-style: normal;
}

.offer_section .subtitle {
	margin: 0 0 60px;
	font-size: 24px;
	line-height: 30px;
	color: #fff;
}

.offer_section .discount_block {
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	transform: rotate(-15deg);
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 161, 202, 0.75);
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	top: 129px;
	left: 496px;
}

.offer_section .discount_block .value {
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
}

.offer_section .form_block {
	margin: 0 0 0 620px;
	padding: 20px 10px;
	background-color: rgba(30, 30, 30, 0.9);
}

.offer_section .price_block {
	margin: 0 auto 10px;
	position: relative;
}

.offer_section .price_block:before {
	display: block;
	content: '';
	border-top: 32px solid #e6a401;
	border-bottom: 32px solid #e6a401;
	border-left: 20px solid #fff;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -10px;
}

.offer_section .price_block .price_item {
	float: left;
	padding: 13px 0 0;
	width: 50%;
	height: 64px;
	text-transform: uppercase;
	text-align: center;
}

.offer_section .price_block .price_item.old {
	-webkit-border-radius: 8px 0 0 8px;
	-moz-border-radius: 8px 0 0 8px;
	border-radius: 8px 0 0 8px;
	background: #fff;
}

.offer_section .price_block .price_item.new {
	-webkit-border-radius: 0 8px 8px 0;
	-moz-border-radius: 0 8px 8px 0;
	border-radius: 0 8px 8px 0;
	background: #e6a401;
	color: #fff;
}

.offer_section .price_block .text {
	margin: 0 0 4px;
	font-size: 12px;
	line-height: 12px;
}

.offer_section .price_block .value {
	font-size: 24px;
	line-height: 24px;
}

.offer_section .price_block .price_item.old .value {
	text-decoration: line-through;
}

.offer_section .price_block .price_item.new .value {
	font-weight: 700;
}

.offer_section .input {
	display: block;
	margin: 0 auto 10px;
	padding: 0 20px;
	width: 300px;
	height: 54px;
	border: none;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #222;
}

.offer_section .input::-webkit-input-placeholder {
	opacity: 1;
	color: #666;
}

.offer_section .input:-moz-placeholder {
	opacity: 1;
	color: #666;
}

.offer_section .input::-moz-placeholder {
	opacity: 1;
	color: #666;
}

.offer_section .input:-ms-input-placeholder {
	opacity: 1;
	color: #666;
}

.offer_section .input:focus::-webkit-input-placeholder {
	opacity: 0;
}

.offer_section .input:focus:-moz-placeholder {
	opacity: 0;
}

.offer_section .input:focus::-moz-placeholder {
	opacity: 0;
}

.offer_section .input:focus:-ms-input-placeholder {
	opacity: 0;
}

.offer_section .products_count {
	margin: 18px 0 0;
	font-size: 14px;
	color: #fff;
	text-align: center;
}

.offer_section .products_count:before {
	display: inline-block;
	vertical-align: middle;
	content: '';
	margin: -2px 10px 0 0;
	width: 23px;
	height: 21px;
	background: url("offer__products_count_icon.png") center no-repeat;
}

.offer_section .products_count b {
	color: #00b5e4;
}

/* about */

.about_section {
	padding: 40px 0;
}

.about_section h2 b {
	color: #009fce;
}

.about_section img {
	display: block;
	float: left;
	width: 292px;
}

.about_section .text_block {
	float: left;
	margin: 0 0 0 40px;
	width: 608px;
}

.about_section .text_block p {
	margin: 0 0 15px;
}

.about_section .text_block ul li {
	margin: 0 0 10px;
	padding: 0 0 0 25px;
	background: url("about__tick_icon.png") left 5px no-repeat;
	font-size: 14px;
	line-height: 22px;
}

.about_section .text_block ul li:last-child {
	margin: 0;
}

/* benefits */

.benefits_section {
	margin: 0 auto;
	padding: 25px 0 40px;
	max-width: 1920px;
	background: #f9fafb;
}

.benefits_section .benefit_item {
	float: left;
	margin: 0 20px 0 0;
	width: 300px;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
}

.benefits_section .benefit_item:last-child {
	margin: 0;
}

.benefits_section .benefit_item img {
	display: block;
	margin: 0 auto;
}

.benefits_section .benefit_item h4 {
	margin: -10px 0 5px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

/* info */

.info_section {
	padding: 40px 0 46px;
	background: #284851 url("desctop__info_bg.jpg") center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
	position: relative;
}

.info_section h2 {
	margin: 0 0 30px;
}

.info_section h2 b {
	color: #efaa01;
}

.info_section .info_item {
	float: left;
	margin: 0 20px 30px 0;
	width: 460px;
}

.info_section .info_item:nth-child(even) {
	margin: 0 0 30px;
}

.info_section .info_item p {
	margin: 0 0 15px;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
}

.info_section .info_item img {
	display: block;
}

.info_section .info_item:nth-child(4) {
	padding: 15px 0 0;
}

.info_section .button {
	position: absolute;
	bottom: -78px;
	left: 50%;
	margin-left: -150px;
}

.info_section .button:active {
	top: auto;
	bottom: -79px;
}

/* characteristics */

.characteristics_section {
	padding: 66px 0 30px;
}

.characteristics_section .characteristics_block {
	float: left;
	padding: 12px 0 0;
	width: 478px;
}

.characteristics_section h3 {
	margin: 0 0 20px;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	color: #009fce;
	text-transform: uppercase;
}

.characteristics_section ul li {
	float: left;
	padding: 15px 10px 15px 34px;
	width: 50%;
	position: relative;
}

.characteristics_section ul li:nth-child(4n), 
.characteristics_section ul li:nth-child(4n-1) {
	background-color: #f7f7f7;
}

.characteristics_section ul li:last-child {
	width: 100%;
}

.characteristics_section ul li:before {
	display: block;
	content: '';
	width: 8px;
	height: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #009fce;
	-webkit-box-shadow: 0 0 0 3px #b2e2f0;
	-moz-box-shadow: 0 0 0 3px #b2e2f0;
	box-shadow: 0 0 0 3px #b2e2f0;
	position: absolute;
	top: 23px;
	left: 13px;
}

.characteristics_section .slider {
	float: left;
	width: 462px;
	border: 1px solid #bdbdbd;
}

.characteristics_section .owl-prev, 
.characteristics_section .owl-next {
	width: 60px;
	height: 60px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.3);
	background-image: url("slider__arrows.png");
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -30px;
}

.characteristics_section .owl-prev {
	background-position: left center;
	left: 20px;
}

.characteristics_section .owl-next {
	background-position: right center;
	right: 20px;
}

/* gift */

.gift_section {
	padding: 40px 0 55px;
	background: #f9fafb;
}

.gift_section h2 b {
	color: #e6a401;
}

.gift_section .gift_block {
	padding: 35px 0 0 380px;
	position: relative;
}

.gift_section .gift_block img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.gift_section h3 {
	margin: 0 0 10px 109px;
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.gift_section ul li {
	float: left;
	padding: 15px 10px 15px 34px;
	width: 50%;
	position: relative;
}

.gift_section ul li:nth-child(odd) {
	padding: 15px 10px 15px 130px;
	width: 360px;
}

.gift_section ul li:nth-child(even) {
	width: 200px;
}

.gift_section ul li:nth-child(4n), 
.gift_section ul li:nth-child(4n-1) {
	background-color: #e9eaeb;
}

.gift_section ul li:last-child {
	width: 100%;
}

.gift_section ul li:before {
	display: block;
	content: '';
	width: 8px;
	height: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #e6a401;
	-webkit-box-shadow: 0 0 0 3px #f3dfaf;
	-moz-box-shadow: 0 0 0 3px #f3dfaf;
	box-shadow: 0 0 0 3px #f3dfaf;
	position: absolute;
	top: 23px;
	left: 13px;
}

.gift_section ul li:nth-child(odd):before {
	left: 109px;
}

/* reviews */

.reviews_section {
	padding: 40px 0 50px;
	background: #284851 url("desctop__reviews_bg.jpg") center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
}

.reviews_section h2 b {
	color: #ffbc00;
}

.reviews_section .review_item .photo {
	display: block;
	float: left;
	width: 340px;
}

.reviews_section .review_item .text_block {
	float: left;
	margin: 34px 0 0 20px;
	width: 580px;
	text-align: center;
}

.reviews_section .review_item .author_block {
	margin: 0 0 15px;
}

.reviews_section .review_item .avatar {
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px 0 0;
	width: 58px;
	height: 58px;
	border: 3px solid #9c9a98;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #9c9a98;
}

.reviews_section .review_item .name {
	display: inline-block;
	vertical-align: middle;
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;
	text-transform: uppercase;
}

.reviews_section .owl-prev, 
.reviews_section .owl-next {
	width: 22px;
	height: 38px;
	background-image: url("reviews__arrows.png");
	background-repeat: no-repeat;
	position: absolute;
	top: 45px;
}

.reviews_section .owl-prev {
	background-position: left center;
	left: 420px;
}

.reviews_section .owl-next {
	background-position: right center;
	right: 60px;
}

/* order info */

.order_info_section {
	padding: 40px 0;
}

.order_info_section .info_item {
	float: left;
	margin: 0 20px 0 0;
	padding: 0 10px;
	width: 300px;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
}

.order_info_section .info_item:last-child {
	margin: 0;
}

.order_info_section .info_item .icon_block {
	margin: 0 auto;
	width: 158px;
}

.order_info_section .info_item img {
	display: block;
}

.order_info_section .info_item h4 {
	margin: 15px 0 5px;
	font-weight: 700;
	text-transform: uppercase;
}

/* footer */

.footer_section {
	padding: 25px 0;
	background: #232527;
	font-size: 14px;
	text-align: center;
}

.footer_section img {
	display: block;
	margin: 0 auto 10px auto;
}

.footer_section a {
	color: #ccc;
}

.footer_section a:hover {
	text-decoration: none;
}

@media screen and (max-width: 959px) {

	/* styles */

	.wrapper {
		width: 640px;
	}

	/* titles */

	h2 {
		font-size: 20px;
		line-height: 28px;
	}

	h2 b {
		font-size: 30px;
		line-height: 36px;
	}

	/* offer */

	.offer_section {
		padding: 12px 0 0;
		height: 520px;
		background-image: url("tablet__offer_bg.jpg");
	}

	.offer_section .title_block {
		margin: 0;
		text-align: center;
	}

	.offer_section .main_title {
		margin: 0;
		font-size: 24px;
		line-height: 30px;
	}

	.offer_section .subtitle {
		margin: 0 0 56px;
		font-size: 20px;
		line-height: 28px;
	}

	.offer_section .discount_block {
		top: 165px;
		left: 215px;
	}

	.offer_section .discount_block .text {
		font-size: 14px;
		line-height: 14px;
	}

	.offer_section .discount_block .value {
		font-size: 28px;
		line-height: 28px;
	}

	.offer_section .form_block {
		margin: 0 0 0 300px;
	}

	/* about */

	.about_section img {
		float: none;
		margin: 0 auto 30px;
	}

	.about_section .text_block {
		float: none;
		margin: 0;
		width: 100%;
	}

	/* benefits */

	.benefits_section .benefit_item {
		margin: 0 10px 0 0;
		width: 200px;
	}

	/* info */

	.info_section {
		padding: 40px 0 56px;
		background-image: url("tablet__info_bg.jpg");
	}

	.info_section .info_item {
		margin: 0 10px 20px 0;
		width: 300px;
	}

	.info_section .info_item:nth-child(even) {
		margin: 0 0 20px;
	}

	.info_section .info_item p {
		font-size: 16px;
		line-height: 24px;
	}

	.info_section .info_item:nth-child(4) {
		padding: 22px 0 0;
	}

	.info_section .button {
		bottom: -88px;
	}

	.info_section .button:active {
		bottom: -89px;
	}

	/* characteristics */

	.characteristics_section {
		padding: 76px 0 50px;
		background-image: none;
	}

	.characteristics_section .characteristics_block {
		float: none;
		margin: 0 auto 25px;
		padding: 0;
	}

	.characteristics_section h3 {
		text-align: center;
	}

	.characteristics_section .slider {
		float: none;
		margin: 0 auto;
	}

	/* gift */

	.gift_section {
		padding: 40px 0 25px;
	}

	.gift_section .gift_block {
		padding: 0;
	}

	.gift_section .gift_block img {
		position: static;
		margin: 0 auto 10px;
	}

	.gift_section .characteristics_block {
		width: 478px;
		margin: 0 auto;
	}

	.gift_section h3 {
		margin: 0 0 10px;
		text-align: center;
	}

	.gift_section ul li:nth-child(odd) {
		padding: 15px 10px 15px 34px;
		width: 278px;
	}

	.gift_section ul li:last-child {
		width: 100%;
	}

	.gift_section ul li:nth-child(odd):before {
		left: 13px;
	}

	/* reviews */

	.reviews_section {
		padding: 40px 0;
		background-image: none;
	}

	.reviews_section .review_item .photo {
		float: none;
		margin: 0 auto 20px;
		width: 300px;
	}

	.reviews_section .review_item .text_block {
		float: none;
		margin: 0;
		width: 100%;
	}

	.reviews_section .owl-prev, 
	.reviews_section .owl-next {
		top: 93px;
	}

	.reviews_section .owl-prev {
		left: 80px;
	}

	.reviews_section .owl-next {
		right: 80px;
	}

	/* order info */

	.order_info_section .info_item {
		display: table;
		float: none;
		margin: 0 0 30px;
		padding: 0;
		width: 100%;
		text-align: left;
	}

	.order_info_section .info_item .icon_block {
		display: table-cell;
		vertical-align: middle;
	}

	.order_info_section .info_item .text_block {
		display: table-cell;
		vertical-align: middle;
		padding: 0 0 0 30px;
	}

	.order_info_section .info_item h4 {
		margin: 0 0 5px;
	}

}

@media screen and (max-width: 639px) {
	
	/* styles */

	.wrapper {
		width: 320px;
	}

	/* titles */

	h2 {
		margin: 0 0 30px;
		font-size: 16px;
		line-height: 24px;
	}

	h2 b {
		font-size: 20px;
		line-height: 26px;
	}

	/* offer */

	.offer_section {
		padding: 8px 0 20px;
		height: auto;
		background-image: url("mobile__offer_bg.jpg");
	}

	.offer_section .main_title {
		margin: 0 0 445px;
		font-size: 38px;
		line-height: 44px;
	}

	.offer_section .main_title i {
		display: none;
	}

	.offer_section .main_title span {
		display: block;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #fff;
	}

	.offer_section .subtitle {
		display: none;
	}

	.offer_section .discount_block {
		top: 170px;
		left: 224px;
	}

	.offer_section .form_block {
		margin: 0;
		padding: 0;
		background: none;
	}

	/* about */

	.about_section {
		padding: 30px 0;
	}

	.about_section img {
		margin: 0 auto 20px;
	}

	/* benefits */

	.benefits_section {
		padding: 10px 0 30px;
	}

	.benefits_section .benefit_item {
		float: none;
		margin: 0 0 10px;
		width: 300px;
	}

	/* info */

	.info_section {
		padding: 30px 0 41px;
		background-image: none;
	}

	.info_section h2 {
		margin: 0 0 20px;
	}

	.info_section .info_item {
		margin: 0 0 25px;
	}

	.info_section .info_item:nth-child(even) {
		margin: 0 0 25px;
	}

	.info_section .info_item:nth-child(4) {
		padding: 5px 0 0;
	}

	.info_section .button {
		bottom: -73px;
	}

	.info_section .button:active {
		bottom: -74px;
	}

	/* characteristics */

	.characteristics_section {
		padding: 66px 0 35px;
	}

	.characteristics_section .characteristics_block {
		margin: 0 0 15px;
		width: 100%;
	}

	.characteristics_section h3 {
		margin: 0 0 10px;
		font-size: 20px;
		line-height: 26px;
	}

	.characteristics_section ul li {
		float: none;
		width: 100%;
		font-size: 14px;
	}

	.characteristics_section ul li:nth-child(4n), 
	.characteristics_section ul li:nth-child(4n-1) {
		background: none;
	}

	.characteristics_section ul li:nth-child(even) {
		background-color: #f7f7f7;
	}

	.characteristics_section .slider {
		width: 100%;
	}

	.characteristics_section .owl-prev, 
	.characteristics_section .owl-next {
		width: 30px;
		height: 30px;
		-webkit-background-size: 60px 30px;
		-moz-background-size: 60px 30px;
		-o-background-size: 60px 30px;
		background-size: 60px 30px;
		margin-top: -15px;
	}

	.characteristics_section .owl-prev {
		left: 15px;
	}

	.characteristics_section .owl-next {
		right: 15px;
	}

	/* gift */

	.gift_section {
		padding: 30px 0 15px;
	}

	.gift_section .characteristics_block {
		width: 100%;
	}

	.gift_section h3 {
		margin: 0 0 5px;
		font-size: 18px;
		line-height: 26px;
	}

	.gift_section ul li {
		float: none;
		font-size: 14px;
	}

	.gift_section ul li:nth-child(4n), 
	.gift_section ul li:nth-child(4n-1) {
		background: none;
	}

	.gift_section ul li:nth-child(odd) {
		width: 100%;
	}

	.gift_section ul li:nth-child(even) {
		width: 100%;
		background-color: #e9eaeb;
	}

	/* reviews */

	.reviews_section {
		padding: 30px 0;
	}

	.reviews_section .owl-prev {
		left: 30px;
	}

	.reviews_section .owl-next {
		right: 30px;
	}

	/* order info */

	.order_info_section {
		padding: 30px 0;
	}

	.order_info_section .info_item {
		display: block;
		text-align: center;
	}

	.order_info_section .info_item .icon_block {
		display: block;
	}

	.order_info_section .info_item .text_block {
		display: block;
		padding: 0;
	}

	.order_info_section .info_item h4 {
		margin: 15px 0 5px;
	}

}